
<div class="jumbotron">
    <h1 class="display-4">Welcome to Quizify</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos fugiat maiores excepturi nesciunt exercitationem? Officiis quasi magni est non ullam. Ducimus mollitia fugiat fugit doloribus dolor cum officia vero perferendis expedita nam sunt laboriosam dolorum, deleniti in illo accusamus autem libero, pariatur saepe soluta totam! A sapiente neque laudantium voluptates.</p>
    <hr class="my-4">
    <p></p>
    <p class="lead d-flex flex-wrap justify-content-center">
      <a class="btn btn-primary btn-lg" [routerLink]="['/start']" role="button">Play</a>
    </p>
  </div>