<div class="card text-center mx-3 my-3">
    <div class="card-header">
        Correct Answers: | Wrong Answers:
    </div>
    <div class="card-body">
      <h5 class="card-title"> </h5>
      
      <div class="input-group input-group-lg my-3">
        <div class="input-group-prepend mr-3">
          <span class="input-group-text" id="inputGroup-sizing-lg">Question:</span>
        </div>
<h2>BBBB</h2>

      </div>



      <div class="d-flex justify-content-around">
        <a
          class="btn btn-lg btn-primary"

        >A</a>
        <a
          class="btn btn-lg btn-primary"

        >A</a>
        <a
        class="btn btn-lg btn-primary"
      >A</a>
      <a
      class="btn btn-lg btn-primary"
    >A</a>
    </div>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>