<div class="card text-center mx-3 my-3">
    <div class="card-header" (click)="getData(flashCards)">
        Correct Answers: | Wrong Answers:
    </div>
    <div class="card-body">
      <h5 class="card-title"> </h5>
      
      <div class="input-group input-group-lg my-3">
        <div class="input-group-prepend mr-3">
          <span class="input-group-text" id="inputGroup-sizing-lg">Question:</span>
        </div>
<h2>{{currentQuery['Query']}}</h2>

      </div>



      <div class="d-flex justify-content-around" >

        
        <a
          class="btn btn-lg btn-primary"

        >{{answers[0]['Definition']}}</a>
        <a
          class="btn btn-lg btn-primary"

        >{{answers[1]['Definition']}}</a>
        <a
        class="btn btn-lg btn-primary"
      >{{answers[2]['Definition']}}</a>
      <a
      class="btn btn-lg btn-primary"
    >{{answers[3]['Definition']}}</a>



    </div>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>