<div class="card text-center mx-3 my-3">
    <div class="card-header">
      Add your key-value pairs
    </div>
    <div class="card-body">
      <h5 class="card-title">Enter below</h5>
      
      <div class="input-group input-group-lg my-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">Query:</span>
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Large"
          aria-describedby="inputGroup-sizing-sm"
          [(ngModel)]="queryInput"
        >
      </div>

      <div class="input-group input-group-lg my-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">Definition:</span>
        </div>
        <input 
        type="text" 
        class="form-control" 
        aria-label="Large" 
        aria-describedby="inputGroup-sizing-sm"
        [(ngModel)]="defInput">
      </div>

      <div class="d-flex justify-content-around">
        <a
          class="btn btn-lg btn-primary"
          (click)="addFlashCard()"
          [class.disabled]="validateAdd()"
        >Add</a>
        <a 
          class="btn btn-lg btn-danger"
          [class.disabled]="validateStart()"
          >Start</a>
    </div>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>


  <!--Card Container-->
  <div class="container d-flex flex-wrap justify-content-center">

    <!--Card-->
    <div *ngFor="let card of flashCards; let i index" >
      <app-flashcard [card]="card"></app-flashcard>
    </div>
  </div>

